extends ../../layout/default
include ../../mixins/box-head.pug

block main
  .inner-main.bg-light.py-5
    .container 
      +box-head("Danh Sách Sản Phẩm")
      .inner-list
        .row.g-3
          each item in listProduct
            .col-3
              .inner-item 
                .card
                  img(class="card-img-top" src=item.thumbnail alt=item.title)
                  .card-body 
                    h4.card-title #{item.title}
                    .card-text.text-success.fs-3 #{item.newPrice}$
                    del.d-block.card-text.text-danger.fs-3.mb-2 #{item.price}$
                    span.bg-danger.rounded-3.text-white.p-1 #{item.discountPercentage}%
              