extends ../../layout/default.pug
include ../../mixins/alert.pug

block main
  .container.my-5
    .row.justify-content-center
      .col-8.col-md-6.col-lg-4
        .card.shadow-sm
          .card-header.bg-primary.text-white.text-center
            h5.card-title.mb-0 Quên Mật Khẩu
          .card-body.p-4
            p.text-muted.text-center Vui lòng nhập email đã đăng ký để lấy lại mật khẩu.
            
            //- Hiển thị thông báo lỗi/thành công nếu có

            form(
              action="/user/password/forgot"
              method="POST"
            )
              .mb-3
                label.form-label(for="email") Email
                input#email.form-control(
                  type="email"
                  name="email"
                  placeholder="vidu@gmail.com"
                  required
                )
              if messages.error 
                .mb-3 
                  .text-danger *#{messages.error}
              .d-grid
                button.btn.btn-primary(type="submit") Gửi mã OTP

          .card-footer.text-center.py-3
            a.text-decoration-none(href="/user/login") Quay lại đăng nhập