extends ../../layout/default.pug
include ../../mixins/alert.pug

block main
  .container.my-5
    .row.justify-content-center
      .col-8.col-md-6.col-lg-4
        .card.shadow-sm
          if messages.success
            .alert.alert-success.small.py-5.text-center.fs-2.mb-3 
              i.bi.bi-check2-circle.me-2
              span #{messages.success}!
            a.btn.btn-outline-danger(href=`/user/login`)
              | Chuyển đến trang chủ
              i.bi.bi-arrow-right.ms-2
          else
            .card-header.bg-primary.text-white.text-center
              h5.card-title.mb-0 Đổi Mật Khẩu
            .card-body.p-4
              form(
                action="/user/password/reset"
                method="POST"
              )
                .mb-3
                  label.form-label(for="password") Mật khẩu mới
                  input#password.form-control(
                    type="password"
                    name="password"
                    required
                    minlength="6"
                  )
                
                .mb-3
                  label.form-label(for="confirmPassword") Xác nhận mật khẩu
                  input#confirmPassword.form-control(
                    type="password"
                    name="confirmPassword"
                    required
                    minlength="6"
                  )
                if messages.error 
                  .mb-3 
                    .text-danger *#{messages.error}
                .d-grid
                  button.btn.btn-primary(type="submit") Đổi mật khẩu